* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  background: #edeef1;
  margin: 0 auto;
}

.home-page-wrapper {
  padding-top: 40px;
}

.home-page-wrapper .create-wrapper {
  width: 200px;
  margin-right: 0;
  margin-left: auto;
}

.home-page-wrapper .content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-page-wrapper .pagination {
  width: 400px;
  display: flex;
  margin: auto;
}

.main-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-page .left {
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.main-page .right {
  width: 460px;
  background: white;
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-page .bg-image {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.right .title {
  font-size: 20px;
  font-weight: bold;
  color: #202020;
  margin-bottom: 16px;
}

.inputWrapper {
  font-size: 1;
}

.inputWrapper .label {
  font-size: 16px;
  color: #2d2d2d;
  margin: 0;
  margin-bottom: 6px;
}

.inputWrapper .input {
  border: 1px solid grey;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
}

.button {
  padding: 12px;
  font-size: 16px;
  background-color: #87c73c;
  width: 100%;
  border-radius: 12px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.link {
  text-align: center;
  font-size: 16px;
  color: #ababab;
  text-decoration: underline;
  cursor: pointer;
}

.upload {
  margin: 20px auto;
}

.upload .preview {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin-bottom: 16px;
}

.text-area {
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  min-height: 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #68b35c;
}

.header .logo-app {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.header .menu-item {
  font-size: 18px;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #67b35c;
  padding: 20px 40px;
}

.footer .logo {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}

.icon-wrapper {
  margin: 0 10px;
}

.social-wrapper {
  display: flex;
}

.social-wrapper .icon-medsos {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  font-size: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 40px;
}

.copyright {
  background-color: #569e4b;
}

.copyright p {
  font-size: 14px;
  color: white;
  text-align: center;
  margin: 0;
}

.blog-item {
  width: calc(50% - 10px);
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 5px 6px 14px rgba(0, 0, 0, 0.2);
}

.blog-item .image-thumb {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-item .content-detail {
  padding: 16px;
}

.blog-item .title {
  font-size: 20px;
  font-weight: bold;
  color: #313131;
}

.blog-item .author {
  margin-top: 4px;
  font-size: 12px;
  color: grey;
}

.blog-item .body {
  margin-top: 18px;
  font-size: 16px;
  color: #353535;
}

.blog-post {
  padding-top: 40px;
}

.blog-post .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.blog-post .button-action {
  width: 200px;
  margin-left: auto;
  margin-right: 0;
}

.main-app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-app-wrapper .content-wrapper {
  flex: 1;
  max-width: 1200px;
  margin: auto;
  width: 100%;
}/*# sourceMappingURL=style.css.map */